.treats {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: treats-appear 1s ease-out forwards;
}

.TreatsLoading {
  text-align: center;
  color: white;
}

.TreatsError {
  text-align: center;
  color: red;
}

.treats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes treats-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
